body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://eskipaper.com/images/forest-backgrounds-4.jpg")
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  background-color: var(--navy);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  align-items: center;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background-color: rgb(15, 196, 9);
  color: black;
  font-size: 50px;
  
}

.animals{
 background-color:lightblue;
}

.Singleanimal {
  background-color: lightblue;

}

.form {
  background-color: rgb(6, 184, 6);
}